<div class="footer o-container -medium">
  <div class="header_logo p-heading -bold">The Footer Sample by Rio</div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "settings": []
}
{% endschema %}
