<div class="container">
  Section Slideshow
</div>

{% schema %}
{
  "name": "Slideshow",
  "settings": [],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
